# Ignore artifacts:
build
coverage
.nuxt
.output
dist

# Storybook build output
storybook-static

# Lighthouse CI artifacts
.lighthouseci
lighthouse-results

# Ignore all HTML files:
*.html

# Ignore files related to API keys
.env

**/*.d.ts
